# MAC OS
.DS_Store

# Python compiled
*.pyc

# Any images
*.png
*.npz

# IPython Notebook
*.ipynb_checkpoints
*.ipynb
dataset/*.ipynb
dataset/*.npz
dataset/*.npy
dataset/*.params

# Any folders
data/
